<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD de Clientes</title>
</head>
<body>
    <h1><%=title%></h1>
    <p>Preencha os dados abaixo para salvar o cliente</p>
    <form action="<%= action %>" method="post">
        <p>
            <label>Nome: <input type="text" name="nome" value="<%= doc.nome %>" /></label>
        </p>
        <p>
            <label>Idade: <input type="number" name="idade" value="<%= doc.idade %>" /></label>
        </p>
        <p>
            <label>UF: <select name="uf">
                    <% const s = "selected" %>
                    <option <% if(doc.uf === "RS") { %><%= s %><% } %>>RS</option>
                    <option <% if(doc.uf === "SC") { %><%= s %><% } %>>SC</option>
                    <option <% if(doc.uf === "PR") { %><%= s %><% } %>>PR</option>
                </select></label>
        </p>
        <p>
            <a href="/">Cancelar</a> | <input type="submit" value="Salvar" />
        </p>
    </form>
</body>
</html>